.header {
  display: flex;

  flex-direction: column;
  @media (min-width: 48em) {
    /*! media md */
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.buttons {
  @media (min-width: 48em) {
    /*! media md */
    margin-top: 0;
  }
}

.showcaseContainer {
  position: relative;
  overflow: hidden;
  margin-left: 0;
  margin-right: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  @media (min-width: 62em) {
    /* lg */
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  @media (min-width: 78em) {
    /* xl */
    padding-left: calc((50% - 39em) + 1.5em);
  }
}

.cardsWrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  transition-property: transform;
  transition-duration: 280ms;
  transition-timing-function: ease-in-out;
}

.card {
  text-decoration: none !important;
  background: none !important;
  &::after{
    display: none !important;
  }

  width: 100%;
  margin-right: 16px;
  @media (min-width: 48em) {
    /*! media md */
    width: 380px;
  }
  @media (min-width: 62em) {
    /* lg */
    margin-right: 24px;
  }

  border: 1px solid var(--border-default-grey);
  &:hover {
    box-shadow: 0 4px 12px var(--shadow-color);
  }
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;

  picture {
    width: 100%;
    height: 216px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.cardContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
